header{
    background-color: rgb(192, 38, 192);
    color : white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    margin-bottom: 20px;
}

header div{
    text-align: center;
}

section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

section article{
    width: 48%;
    text-align: center;
    border: 2px grey solid;
    margin-bottom: 20px;
    background-color: white;
}

h4{
    color: red;
}

body{
    background-color: rgb(43, 40, 40);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button{
    background-color: rgb(192, 38, 192);
    border-radius: 10px;
    border: 0px;
}